@import url('Site.css');
body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {

    color: red;
    font-weight: bold;
}

.input-validation-error {

    border-color: red;

}

.verticalOffset5 { margin-top: 5px; }
.verticalOffset10 { margin-top: 10px; }
.verticalOffset15 { margin-top: 15px; }
.verticalOffset20 { margin-top: 20px; }
.verticalOffset30 { margin-top: 30px; }



/*Bootstrap overrides*/
body{

    font-size: 16px;

}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}


.navbar-inverse {
    background-color: #ED0D18;
    border-color: #ED0D18;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-brand {
  font-size: 22px;
  font-weight: 700;
}
.navbar-inverse .notifications {
    position: relative;
}
.navbar-inverse .fa {
    left:0;
    top:5px;
}
    .navbar-inverse .notifications .badge {
        position: absolute;
        margin-top: -6px;
        margin-left:-8px;
        margin-right:0px;
        background: #FA2D17;

    }

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {

  background-color: #DD0D18;
}


.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

h2,
.form-group {
  margin-bottom: 20px;
}

.form-control {
    font-size: 15px;
    height: 45px;  
    border-radius: 8px;
}

.btn {
    font-size: 17px;
    padding: 6px 20px;
    border-radius: 8px;
}

.btn-sm, .btn-xs {

    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 8px;

}

.popover {
   padding: 0px;
   /*border: 1px solid #f1f1f1;*/
   -webkit-box-shadow: none;
    box-shadow: none;
    max-width: 320px;
}


/*Naslov s crvenom pozadinom.popover-title {
  
  background-color: #FA2D17;
  border-bottom: 1px solid #FA2D17;
  color: white;
  font-weight: bold;
  font-size: 18px;
}*/

.popover-content {
  padding: 0;
}


/*Page-level styles*/

.gigsList {

    list-style: none;

}

.gigsList > li {

    position: relative;
    margin-bottom: 30px;
}

.gigsList > li .gigDetails {
    
    position: absolute;
    top: 0;
    left: 75px;
}

 .gigsList > li .gigDetails .artist {
    
    font-weight: bold;
    display: block;
}

.gigsList > li .gigDetails .genre {
    
    font-size: 14px;
}

.gigsList > li .actions {
    font-size: 13px;
    display: none;
}

.gigsList > li:hover .actions {
    display: block;
}


.gigsList > li .gigDate {

    width: 65px;
    text-align: center;
    font-weight: bold;

}

.gigsList > li .gigDate .month {

    background-color: red;
    text-transform: uppercase;
    color: white;  
    padding: 3px 6px;
    border-radius: 6px 6px 0 0;


}

.gigsList > li .gigDate .day {

   background-color: #f1f1f1;
   color: gray;
   font-size: 22px;
   padding: 8px 6px;
   border-radius: 0 0 6px 6px;

}



ul.notificationsList {
    
    list-style: none;
    padding-left: 0;
   

}

ul.notificationsList > li {

    padding: 11px;
    border-bottom: 2px solid #f1f1f1

}

ul.notificationsList > li:last-child {

    border-bottom: none;
}

    ul.notificationsList .highlight {

        font-weight: bold;
    }


#searchGigsGroup {
    width: 318px;
    
}
    #searchGigsGroup .form-control {
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: none;
        transition: none;
    }
