@model IEnumerable<Muzzo.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Muzzo</h1>
    <p class="lead">For music lovers!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div>
<ul>
  @foreach (var gig in Model)
  {
      <li>@gig.GigDateTime - @gig.Artist.Name</li>
  }
</ul>  
</div>