@model IEnumerable<Muzzo.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Muzzo</h1>
    <p class="lead">For music lovers!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div>
<ul class="gigsList">
  @foreach (var gig in Model)
  {
      <li>

          <div class="gigDate">
              <div class="month">
                  @gig.GigDateTime.ToString("MMM")
              </div>
              <div class="day">
                  @gig.GigDateTime.ToString("d ")
              </div>
          </div>
          <div class="gigDetails">
              <span class="artist">
                  @gig.Artist.Name
              </span>
              <span class="genre">
                  @gig.Genre.Name
              </span>
          </div>


      </li>
  }
</ul>  
</div>