@model IEnumerable<Muzzo.Core.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

<h2>Artists I'm following</h2>

<ul>

    @foreach (var artist in Model)
    {

        <li>
            <div>
                    @artist.Name
             </div>

        </li>


    }


</ul>

